/* Main Container for Information */
.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #85c1e9 ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
  }
  
  /* Header Section of Title and Icon */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 20px;
    position: absolute; 
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  /* Title of Applicatoin */
  .weather-wise {
    font-size: 32px;
    color: #fff; 
    font-weight: bold;
    flex-grow: 1; 
    text-align: center;
  }
  
  /* Hambugur Icon for Future Additions */
  .hamburger-icon {
    font-size: 28px;
    color: #fff; 
    cursor: pointer;
    flex-shrink: 0; 
  }
  
  /* City Search Bar */
  .search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 60px; 
  }
  
  .search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
  }
  
  /* Search Icon Box */
  .icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4d03f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .icon-container:hover {
    background-color: #f1c40f;
  }
  
  /* React Search Icon */
  .search-icon {
    color: white;
    font-size: 20px;
  }
  
  /* Weather Conditions */
  .weather-icon {
    width: 140px;
    margin: 10px 0;
  }
  
  /* Current Tempature  */
  .tempature {
    color: white;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
  }
  
  /* Name of the Location*/
  .location {
    color: white;
    font-size: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* Detailed Weather Stats */
  .weather-data {
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
  }
  
  .weather-data .col span {
    display: block;
    font-size: 16px;
    color: #f4d03f
    
  }
  
  .weather-data .col img {
    width: 26px;
    margin-top: 10px;
  }
  